.main-new{
    padding: 40px 7.5%;
    background-color: #D3D3D3;
}

.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.photo-and-research-area{
    display: grid;
    grid-template-columns: repeat(56, 1.0625vw);
    grid-template-rows: 30px 68%;
}


.photo-and-research-area__tabs{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-column: 1/39;
    display: grid;
    box-shadow: rgba(3, 3, 3, 0.1) 0px -10px 10px -3px;
}

.tabs__card
{   border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 19px;
    font-weight: 500;
    padding-top: 8px;
    text-align: center;
    box-shadow: rgba(3, 3, 3, 0.1) 2px 0px 10px -10px;
    cursor: pointer ;
}

.card1{
    grid-row: 1 / 2;
    grid-column: 1/7;
    background-color: #fff;
    z-index: 6;
}
.card2{
    grid-row: 1 / 2;
    grid-column: 6/15;
    background-color: #D3D3D3;
    z-index: 5;

}
.card3{
    grid-row: 1 / 2;
    grid-column: 14/25;
    background-color: #D3D3D3;
    z-index: 4;

}
.card4{
    grid-row: 1 / 2;
    grid-column: 24/29;
    background-color: #D3D3D3;
    z-index: 3;

}
.card5{
    grid-row: 1 / 2;
    grid-column: 28/35;
    background-color: #D3D3D3;
    z-index: 2;

}
.card6{
    grid-row: 1 / 2;
    grid-column: 34/39;
    background-color: #D3D3D3;
    z-index: 1;
}

.photo-and-research-area__main{
    grid-row: 2 / 3;
    grid-column: 1/57;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: rgba(3, 3, 3, 0.1) 0px 2px 10px;
    font-size: 18px;
    font-weight: 500;
}


.main__card
{   padding: 15px;
    height: 100%;
    z-index: 8;
    background-color: #fff;
    border: none;
}


.photo__images{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 93%;
}

.images__color-positive,
.images__bw-positive{
    display: flex;
    flex-direction: column;
}
.images__color-positive--input::file-selector-button,
.images__bw-positive--input::file-selector-button
{
    background-color: #D3D3D3;
    border: none;
    border-radius: 10px;
}
.photo__chem-images{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.research__structure{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 93%;
}
.structure__description--input
{
    height: 18px;
}

.research__element{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
}

.rfa__image,
.furie__image,
.krs__image{
    grid-row: 1/4;
}




.card8,
.card9,
.card10,
.card11,
.card12{
    display: none;
}




.static-area{
    display: flex;
    flex-direction: column; 
}
.create-paper{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin-bottom: 20px;
}
.create-paper,
.reports{
    border: 1px solid #F9C1C1;
    border-radius: 10px;
    box-shadow: rgba(3, 3, 3, 0.1) 0px 2px 10px;
}


.create-paper__legend,
.reports__legend{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.create-paper__element{
    margin-bottom: 10px;
}

.create-paper__ph{
    margin: 0;
}

.create-paper__element--title
{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

span.create-paper__year--title{
    margin: 0;
}

.create-paper__element--input{
    border: 1px solid #6A7A95;
    border-radius: 5px;
}

.create-paper__code--input{
    width: calc(100% - 156px);
}
.create-paper__title--input{
    width: calc(100% - 103px);
}

.create-paper__subtitle--input{
    width: calc(100% - 135px);
    height: 32px;
}

.create-paper__authors--input{
    width: calc(100% - 92px);
    height: 18px;
}

.create-paper__url--input{
    width: calc(100% - 184px);
}

.reports{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.reports__date{
    margin-bottom: 10px;
}

.reports__date--title,
.reports__file--title{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
}

.reports__date--input{
    border: 1px solid #6A7A95; 
    border-radius: 5px
}
.reports__file--input::file-selector-button{
    background-color: #D3D3D3;
    border: none;
    border-radius: 5px;
}

.submit{
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    background-color: #FF8989;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 19px;
}

