{% extends 'paper/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h2>Create Paper</h2>
    {{ form.as_p }}
    
    <h2>Him Image</h2>
    {{ form.himImage_formset.management_form }}
    {% for form in form.himImage_formset%}
      {{ form.as_table }}
    {% endfor %}

    <h2>Reports</h2>
    {{ form.report_formset.management_form }}
    {% for form in form.report_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <h2>Images</h2>
    {{ form.image_formset.management_form }}
    {% for form in form.image_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <h2>Structure Research</h2>
    {{ form.structure_formset.management_form }}
    {% for form in form.structure_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <h2>RFA Research</h2>
    {{ form.rfa_formset.management_form }}
    {% for form in form.rfa_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <h2>Furie Research</h2>
    {{ form.furie_formset.management_form }}
    {% for form in form.furie_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <h2>KRS Research</h2>
    {{ form.krs_formset.management_form }}
    {% for form in form.krs_formset %}
      {{ form.as_table }}
    {% endfor %}
    
    <button type="submit" value="Save">Submit</button>
  </form>
{% endblock content %}