<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Бетельгейзе - {% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'paper/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Бетельгейзе</h1>
        <input type="text" placeholder="Поиск">
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>© 2023 Бетельгейзе. Все права защищены.</p>
    </footer>
</body>
</html>
