<!-- templates/index.html -->
{% extends 'paper/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="card_container">
        {% for p in papers %}
        <div class="card">
            <h1 class="title">{{p.title}}</h1>
            <p class="code">{{p.code}}</p>
            <h2 class="subtitle">{{ p.get_subtitles_as_string }}</h2>
            <img class="image" src="{{ p.get_latest_image.url }}" alt="Изображение">
            <a class="button" href="#">Button</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
